* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1B1A17;
    background-color: #FDFDFB;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

a {
    color: inherit;
}

.main-header {
    margin-bottom: 20px;
}

.main-header-nav {
    display: flex;
    align-items: center;
}

.main-header-logo {
    padding: 30px 265px 0 0;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 650px;
    color: #555248;
}

.site-navigation-item {
    margin-right: 65px;
    padding: 35px 0 25px 0;
}

.link-item {
    text-decoration: none;
}

.user-navigation {
    list-style:  none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 200px;
  
}

.user-navigation-item {
    margin-left: 23px;
    padding: 35px 0 18px 0;
}

.promo {
    background-image: url('img/watch-rado-promo.png'), url('img/Ellipse.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 58% 0, 45% 0;
    width: 100%;
    height: 804px;
}

.promo-wrapper {
    display: flex;
    /* align-items: center; */
    height: 100%;
}


.promo-text-colomn {
    width: 400px;
    padding-top: 236px;
    padding-bottom: 236px;
}

.promo-title,
.promo-heading {
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.promo-title {
    font-size: 45px;
    line-height: 60px;
    padding-bottom: 16px;
}

.promo-heading {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 40px;
}

.promo-text {
    margin: 0;
    padding: 0 0 97px 0;
    font-weight: 300;
    line-height: 21px;
    opacity: 0.82;
    width: 270px;
}

.button {
    background-color: #444240;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding: 27px 38px;
}

.promo-price,
.promo-diametr {
    font-family: "Prata", Times, serif;
    font-size: 16px;
    line-height: 22px;
}

.promo-price {
    width: 404px;
    padding-top: 138px ;
}

.promo-price p,
.promo-diametr p {
    margin: 0;
}

.promo-diametr {
    padding-top: 647px;
}

.pop-models {
    background-color: #FFFFFF;
    padding-top: 65px;
}

.pop-models-title {
    margin: 0;
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
}

.pop-models-watchall {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    text-decoration: none;
}

.pop-models-watchall p {
    text-align: end;
    margin: 0;
    padding-bottom: 37px;
}

.pop-models-types {
    margin: 0;
    padding: 0;
    padding-bottom: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pop-models-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 467px;
    padding: 40px 29px;

}

.pop-models-mark {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: "Playfair Display", Times, serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82);
    text-transform: uppercase;
}

.pop-models-price {
    margin: 0;
    padding: 0;
    font-family: "Prata", Times, serif;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82); 
}

.about-model {
    order: 2;

    font-family: "Playfair Display", Times, serif;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    
    padding-top: 20px;
}

.advantages {
    background: linear-gradient(to right, #F7F5EF 34%, #FDFDFB) ;
}

.advantages-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.advantages-text-colomn {
    width: 600px;
    padding: 140px 124px 103px 70px ;
}

.advantages-img-colomn {
   /* width: 600px; */
   padding: 52px 0 52px 79px; 
} 

.advantage-title {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px; 
    padding-bottom: 38px;
}

.advantage-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #444240;
    padding-bottom: 72px;
}

.advantages-text-colomn .button {
    background-color: #D4B098;
}

/* .advantages-slider {
    width: 1200px;
} */

.news {
    background-color:#FFFFFF;
}

.news-wrapper {
    display: flex;
    justify-content: space-between;
}

.news-text-colomn {
    padding-top: 221px;
}

.news-title {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    padding-bottom: 40px; 
}

.news-text {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    color: #444240;

    width: 380px;
    padding-bottom: 119px;
}

.social {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.social-item {
    list-style: none;
    margin-right: 18px;
}

.news-img {
    margin: 0;
    padding: 81px 0 90px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    list-style: none;

    display: flex;
}

.breadcrumbs-item {
    margin-right: 14px;
    font-weight: 500;
    color: #B3B3B3;
}

.breadcrumbs-link {
    text-decoration: none;
}

.breadcrumbs-current {
    color: #555248;
}

.catalog-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog-title,
.catalog-sorting {
    padding: 0;
    margin: 0;
}

.catalog-title {
    font-family: "Playfair Display", Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px; 
    padding-bottom: 38px;
}

.catalog-content-wrapper {
    display: flex;
}

.filter-colomn {
    width: 245px;
    margin-right: 94px;
}

.catalog-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination-list {
    text-align: right;
}

.pagination-link {
    display: inline-block;
    text-decoration: none;
}

.accessories-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.card-wrapper {
    display: flex;
    justify-content: space-between
}

.card-photo-column {
    width: 570px;
}

.card-proto-preview {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-proto-preview-item {
    margin-right: 17px;
}

.card-description-column {
    width: 565px;
}

.similar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-footer {
    background-color: #444240;
    color: #FFFFFF;
    padding-top: 67px;
    padding-bottom: 67px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    /* padding-top: 67px; */
}

.contacts img {
    margin-top: -15px;
    margin-bottom: 30px;
}

.about,
.for-customers,
.payment-delivery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-title {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.07em;
}

.contacts-item {
    list-style: none;
}

.link-item {
    display: inline-block;
}

.contacts-item,
.link-item {
    font-size: 12px;
    line-height: 14px;  
    opacity: 75%;
    padding-bottom: 15px;
}

/* ul a.link-item:last-child {
    padding-bottom: 0;
} */




